# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
a = set()
a

set()

* create a non empty set
* print that set

In [2]:
b = set([1,2,3])
b

{1, 2, 3}

* iterate over the set and print results

In [3]:
for i in b:
    print(i)

1
2
3

* add one item to the set

In [4]:
b.add(4)
b

{1, 2, 3, 4}

* add multiple items to the set

In [5]:
b.update({5,6,7})
b

{1, 2, 3, 4, 5, 6, 7}

* remove an item from a set if it is present in the set

In [6]:
b.discard(7)
b

{1, 2, 3, 4, 5, 6}

* find maximum and minimum values of the set

In [7]:
max(b), min(b)

(6, 1)

* print the length of the set

In [8]:
len(b)

6

* create an intersection of x and y

In [9]:
x = {'a', 'b', 'c'}
y = {'b', 'd', 'f'}

In [10]:
x.intersection(y)

{'b'}

* create an union of x and y

In [11]:
x.union(y)

{'a', 'b', 'c', 'd', 'f'}

* create difference between x and y

In [12]:
x.difference(y)

{'a', 'c'}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [13]:
from collections import Counter
sentence = 'black cat jumped over white cat'
c = Counter(sentence.split())
c

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [14]:
c.most_common()

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [15]:
from collections import defaultdict

d = defaultdict(int)
words = sentence.split()

for word in words:
    d[word] += 1

print(d)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [16]:
from collections import deque

de = deque(list(x))
de

deque(['c', 'b', 'a'])

* append number 10 to deque

In [17]:
de.append(10)
de

deque(['c', 'b', 'a', 10])

* remove element from the right end from deque

In [18]:
de.pop()
de

deque(['c', 'b', 'a'])

* remove element from the left end from deque

In [19]:
de.popleft()
de

deque(['b', 'a'])

* delete all elements from deque

In [20]:
de.clear()
de

deque([])

* create named tuple (people) with name and surname as position names

In [21]:
from collections import namedtuple

people = namedtuple('people', 'name surname')
role_1 = people('Cristiano', 'Ronaldo')

* print name and surname

In [22]:
role_1.name

'Cristiano'

In [23]:
role_1.surname

'Ronaldo'

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [24]:
a = ['a', 'b', 10, 'c']

try:
    for i in range(len(a)):
        a[i] = a[i].upper()
except AttributeError:
    print(str(a[i]) + ' is Not a string element!')

a

10 is Not a string element!

['A', 'B', 10, 'c']

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [25]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    print(f"Luke, I am your {_dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [26]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [27]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except KeyError:
        print(text + " is not in the relation with Luke")

In [28]:
relation_to_luke("aaaa")

aaaa is not in the relation with Luke